$color:white;

.side-bar{
    background-color: $color;
    width: 100%;
    padding: 2%;
    border-radius:15px;
    border: 2px solid skyblue;
}

div.main{
    color:black;
    h3{
        font-weight: bold;
    }
}

%mains{
    width:100%;
    height: 420px;
    background-color:white;
    border-radius: 10px;
    padding: 2%;
}
.main{
    @extend %mains;

}