{% extends 'layout.html' %}

{% block messagebody %}
<div class="mesgs">
    <h6 class=" text-right"> <button type="button" id="leave_channel" class="btn-xs btn btn-danger">leave</button> </h6>


    
    <div class="msg_history">
      
      {% if messages %} 
        {% for message in messages %}
          <div class="incoming_msg">
            <div class="received_msg">
              <div class="received_withd_msg">
                <p id="textmsg">{{ message[2] }}</p>
                <span class="time_date" > <span id='time'>{{ message[0] }}</span> |  <span id="uname">{{ message[1] }}</span> </span></div>
            </div>
          </div>
        {% endfor %}
        <p class="text-center text-secondary"> {{ 'previous messages' }} </p>
        {% endif %}


        <p class="text-center text-secondary" id="joinedmessage"></p>
      <!--<div class="outgoing_msg">
        <div class="sent_msg">
          <p>Salam, welcome mr Yakub</p>
          <span class="time_date"> abdimalik  |  11:03 AM </span></div>

      </div>-->
      
    </div>
    <div class="type_msg">
      <div class="input_msg_write">
        <input type="text" class="write_msg " id="message" placeholder="Type a message" autofocus />
        <button class="msg_send_btn" id="msg_send_btn" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </div>
    </div>
</div>
{% endblock %}