{% extends 'layout.html' %}

{% block main_content %}
<style>
    .img{
        border-color:none;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    }
</style>

<div class="container">
    <br>
        <div class="table-responsive col-md-12" style="width:100%;">
             <table class="table table-hover table-bordered">
                 <thead>
                     <tr class="table-info">
                        
                         <th> 
                             <center>
                                <img src="{{ url_for('static',filename='img/yakub.jpg') }}" alt="" class="img img-thumbnail" height="200" width="200">
                             </center>
                        </th>

                     </tr>
                     <tr class="table-secondary">
                         <th>Yakub Ahmed</th>
                     </tr>
                     <tr class="table-success">
                        <th>yaaqa91@gmail.com</th>
                     </tr>
 
                 </thead>
             </table>
        </div>

</div>
{% endblock %}