{% extends 'layout.html' %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="info">
                <h1> <strong>Welcome to BookSore   </strong>     </h1>
                <p style="font-size: larger;">
                    Salam, You can seach our database over 5,000, books, read
                    reviews by readers like you, and add your own reviews
                    to get started <a href="{{ url_for('singup') }}">Singup</a> know or <a href="{{ url_for('login') }}">login</a>.
                </p>
                <div class="img">
                    <center>
                        <img src="{{ url_for('static',filename='img/books_50px.png') }}" alt="" srcset="" width="200px" height="200px">
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <br>
            <div class="card">
                <div class="card-header bg-info">Login</div>
                <div class="card-body">
                    <p class="text-danger">{{ message }}</p>
                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control " placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password"  class="form-control " placeholder="Password">
                        </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" name="btnLogin" value="submit" class="btn btn-info btn-block" >
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}