{% extends 'layout.html' %}

{% block main_content %}
<style>
    .book-con{
        padding: 1% 1%;
        background-color:white;
        border-radius:20px;
    }
    .book-con:hover{
        padding: 1% 1%;
        background-color:white;
        border-radius:20px;
        -webkit-box-shadow: 4px 3px 24px 5px rgba(0,0,0,0.4);
        box-shadow: 4px 3px 24px 5px rgba(0,0,0,0.4);
    }
    .star{
    
        color:white;
        padding: 7px 7px;
        border-radius: 2px;
    }
    .star:hover{
       
        color:orange;
        padding: 7px 7px;
        border-radius: 2px;
    }
    .panel{
        padding:1%;
        justify-content: center;
    }
 </style>
    <div class="container">
        <div class="row">
            <div class="form-group col-md-6">
               <div class="panel">
                   <center>
                    <h2 class="text-light"> {{ message }} </h2>
                        <h3>Book Detail</h3>
                        <hr>
                        <h4>
                            <strong>{{ book.title }}</strong>
                            <hr>
                            <i>{{ book.author }}</i>
                            <hr>
                           {{ book.isbn }}
                            <hr>
                            {{ book.year }}
                            <hr style="height:3px; background-color:darkblue;">
                            Goodreads  Average rating({{ avgRating }}) of ({{ numRating }}) reviewers
                            <hr>
                        </h4>
                    </center>
               </div>
            </div>
            <div class="form-group col-md-6">
                <div class="panel">
                    <center>
                     <h2 class="text-light"> {{ message }} </h2>
                         <h3>Leave your review </h3>
                         <small><p class="text-danger">{{ msg }}</p></small>
                        </center>
                         <hr>
                        <form action="{{ url_for('submit_rev', bookid=book.id) }}" method="POST">
                            <div class="form-group">
                                <label for="">Rate:</label>
                               <select name="review_num" class="form-control">
                                   <option value="">Select rating number</option>
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                   <option value="4">4</option>
                                   <option value="5">5</option>
                               </select>
                            </div>
                            <div class="form-group">
                                <label for="">Message</label>
                               <textarea name="review_msg" rows="5" class="form-control" placeholder=""></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-info btn-block">
                             </div>
                        </form>
                         <hr style="height:3px; background-color:darkblue;">
                        <h3> Other Reviews</h3>
                        <div class="card shadow">
                            
                            {% for review in reviews %}
                            <div class="card-body" style="margin-bottom:5%;">
                                <h3 class="text-danger">{{ rmsg }}</h3>
                                <h4> <strong>posted by:{{ review.username }}</strong> </h4>
                                <h5>rating:{{ review.review_num }}</h5>
                                <p class="text-dark">message:{{ review.review_message }}</p>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                        
                        
                </div>
             </div>
          
        </div>
    </div>
{% endblock %}